<% provide(:title, 'New Blog Post') %>
<h1>Edit Blog Post</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@blogpost) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <% if current_user.admin? || current_user?(@blogpost.user) %>
    <%= link_to "Delete Post", @blogpost, method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-large btn-danger" %>
  <% end %>
  </div>
</div>