<% provide(:title, 'New Blog Post') %>
<h1>New Blog Post</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@blogpost) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit "Create Post", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
