<% provide(:title, 'About') %>
<h1>An Explanation</h1>
<p>Not Subliminal is (or will be) a netlabel developed by Dave Schaefer, from Edmonton, Alberta, Canada. It will feature primarily experimental music from Western Canada and beyond. Feel free to <a href="#">contact</a> me if you have anything that you would like to help with or if you have any music that you would like to submit.</p>
