<% provide(:title, 'About') %>
<h1>An Explanation</h1>
<p>Not Subliminal is (or will be) a netlabel developed by Dave Schaefer, from Edmonton, Alberta, Canada. It will feature primarily experimental music from Western Canada and beyond. Feel free to <a href="#">contact</a> me if you have anything that you would like to help with or if you have any music that you would like to submit.</p>

<p>The plan is this:</p>
<p>There's a lot of music out there that speaks to the reality of our situation. Often times this is done in ways that are abstract and difficult to understand or interpret. Such is the nature of art. It is my wish for this site to act as a platform for digital representations of artwork (music specifically) of this sort. That we all might learn more about our own situations by observing that which does not make sense.</p>

<p>This explanation is work in progress so fuck off.</p>
