<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <div class="span8">
      <section>
        <%= render 'shared/profile_info', user: current_user %>
      </section>
    </div>
  </div>
<% else %>
  <h1>Not Subliminal Records</h1>
  <p>Home Page for the upcoming netlabel <strong>Not Subliminal</strong>. Site is currently under construction.</p>
<% end %>
