<% provide(:title, 'Music') %>
<h1>Not Subliminal Music</h1>
<p>This page is still in the works.</p>

<span>
  <%= link_to "Artists", artists_path %>
</span>
<br />
<span>
  <%= link_to "Albums", albums_path %>
</span>
<br />
<span>
  <%= link_to "Songs", songs_path %>
</span>
<br />
<span>
  <%= link_to "View Profile", current_user %>
</span>