<% provide(:title, 'Edit Artist') %>
<h1>Edit Artist</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@artist) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
    <% if current_user.admin? %>
    <%= link_to "Delete Artist", @artist, method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-large btn-danger" %>
  <% end %>
  </div>
</div>