<% provide(:title, 'Add Song') %>
<h1>Add a song</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@song) do |f| %>
      <%= render 'fields', f: f %>

      <%= f.submit "Add Song", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>