<footer class="footer">
  <small>
    <a href="#">Not Subliminal</a>
    created by Dave Schaefer
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News",    '#' %></li>
      <li><%= link_to "Admin",   '#' %></li>
    </ul>
  </nav>
</footer>