<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Not Subliminal", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",  '#' %></li>
          <li><%= link_to "Music", '#' %></li>
          <li><%= link_to "About", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>